/* 
.header {
    color:rgb(0, 0, 0);
    background-color: rgb(29, 29, 48);
}
#profile{
    border-radius: 100%;
    border: 5px dotted;
    width: 250px;
    height: 250px;
}
button{
    border: none;
    background-color: blueviolet;
    color: beige;
    padding: 10px;
    border-radius: 5px;

} */

.navbar{
    width:250px;
    height: 100%;
}